auth_enabled: false

server:
  http_listen_port: 3100

limits_config:
  allow_structured_metadata: false

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1 
  chunk_idle_period: 5m
  chunk_retain_period: 30s
  wal:
    dir: /loki-wal

schema_config:
  configs:
    - from: 2020-10-15
      store: inmemory
      object_store: inmemory
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /tmp/index
    cache_location: /tmp/cache
  filesystem:
    directory: /tmp/chunks
